In [1]:
import pandas as pd
import numpy as np

In [2]:
data_claster = pd.read_csv('../data/interim/claster_data.csv')
data = pd.read_csv('../data/interim/msk_2018_2021_clear.csv')

In [3]:
data.head()

   Unnamed: 0  rooms  object_type   timestamp    target  year  month
0           0      1           11  2018-03-04   4704280  2018      3
1           1      2            1  2018-03-17   8000000  2018      3
2           2      3            1  2018-04-03  11500000  2018      4
3           3      2            1  2018-04-07  10200000  2018      4
4           4      1            1  2018-04-18  11500000  2018      4

In [4]:
data = data.merge(data_claster, left_on='Unnamed: 0', right_on='Unnamed: 0')

In [5]:
data

,Unnamed: 0,rooms,object_type,timestamp,target,year,month,LAT,LON,X,Y,claster
0,0,1,11,2018-03-04,4704280,2018,3,55.621097,37.431002,-14.444944,-11.700003,3
1,1,2,1,2018-03-17,8000000,2018,3,55.738876,37.825370,-1.348461,12.979352,4
2,2,3,1,2018-04-03,11500000,2018,4,55.798921,37.738090,5.328294,7.517425,6
3,3,2,1,2018-04-07,10200000,2018,4,55.655307,37.614605,-10.640910,-0.210186,8
4,4,1,1,2018-04-18,11500000,2018,4,55.701330,37.507412,-5.523386,-6.918283,16
...,...,...,...,...,...,...,...,...,...,...,...,...
368153,368153,1,1,2021-05-01,12850000,2021,5,55.701280,37.642654,-5.528945,1.545086,8
368154,368154,4,11,2021-05-01,19739760,2021,5,55.804736,37.750898,5.974848,8.318923,6
368155,368155,2,11,2021-05-01,12503160,2021,5,55.841415,37.489624,10.053356,-8.031446,5
368156,368156,2,11,2021-05-01,11831910,2021,5,55.804736,37.750898,5.974848,8.318923,6
368157,368157,2,11,2021-05-01,13316200,2021,5,55.860240,37.540356,12.146556,-4.856678,5

In [6]:
def drop_field(df : pd.DataFrame):
    df.drop('Unnamed: 0', axis=1, inplace=True)
    df.drop('X', axis=1, inplace=True)
    df.drop('Y', axis=1, inplace=True)
    df.drop('LAT', axis=1, inplace=True)
    df.drop('LON', axis=1, inplace=True)
    df.drop('year', axis=1, inplace=True)
    df.drop('month', axis=1, inplace=True)
    return df

In [7]:
data = drop_field(data.copy())

In [8]:
print(data["claster"].unique())
print(data["object_type"].unique())
print(data["rooms"].unique())

[ 3  4  6  8 16 18  7 17 19  0 12 15  9  5  1 11 14 13  2 10]
[11  1]
[1 2 3 4]

In [9]:
data["segment"] = "k=" + data["claster"].astype(str) + "_" + "t=" + data["object_type"].astype(str) + "_" +"r="+ data["rooms"].astype(str)
print(data["segment"].unique())
len(data["segment"].unique())

['k=3_t=11_r=1' 'k=4_t=1_r=2' 'k=6_t=1_r=3' 'k=8_t=1_r=2' 'k=16_t=1_r=1'
 'k=18_t=1_r=3' 'k=8_t=1_r=3' 'k=4_t=1_r=1' 'k=4_t=1_r=3' 'k=7_t=1_r=2'
 'k=17_t=11_r=2' 'k=16_t=1_r=2' 'k=19_t=11_r=1' 'k=19_t=11_r=3'
 'k=19_t=11_r=2' 'k=0_t=1_r=1' 'k=8_t=1_r=4' 'k=12_t=1_r=3' 'k=7_t=1_r=1'
 'k=15_t=11_r=2' 'k=15_t=11_r=3' 'k=15_t=11_r=1' 'k=0_t=1_r=2'
 'k=9_t=11_r=1' 'k=9_t=11_r=3' 'k=9_t=11_r=2' 'k=9_t=11_r=4'
 'k=5_t=11_r=1' 'k=16_t=1_r=4' 'k=0_t=11_r=3' 'k=0_t=11_r=2' 'k=9_t=1_r=4'
 'k=12_t=1_r=1' 'k=7_t=1_r=3' 'k=1_t=1_r=2' 'k=18_t=1_r=2' 'k=5_t=1_r=2'
 'k=5_t=1_r=4' 'k=15_t=1_r=3' 'k=3_t=11_r=2' 'k=3_t=11_r=3'
 'k=11_t=11_r=1' 'k=14_t=11_r=2' 'k=14_t=11_r=1' 'k=13_t=11_r=1'
 'k=1_t=1_r=1' 'k=17_t=11_r=1' 'k=19_t=1_r=1' 'k=1_t=11_r=1'
 'k=1_t=11_r=2' 'k=1_t=11_r=3' 'k=14_t=1_r=2' 'k=5_t=1_r=1' 'k=11_t=1_r=2'
 'k=9_t=1_r=1' 'k=13_t=1_r=2' 'k=6_t=1_r=2' 'k=13_t=1_r=1' 'k=8_t=11_r=1'
 'k=2_t=1_r=2' 'k=9_t=1_r=2' 'k=10_t=1_r=3' 'k=10_t=11_r=3' 'k=2_t=1_r=3'
 'k=10_t=1_r=2' 'k=5_t=1_r=3' 'k=10_t=11_r=1' 'k=10_t=11_r=2'
 'k=12_t=11_r=2' 'k=4_t=11_r=3' 'k=4_t=11_r=2' 'k=6_t=11_r=1'
 'k=4_t=11_r=1' 'k=2_t=11_r=1' 'k=6_t=11_r=2' 'k=11_t=11_r=2'
 'k=2_t=11_r=3' 'k=11_t=11_r=3' 'k=12_t=11_r=1' 'k=12_t=11_r=3'
 'k=2_t=1_r=1' 'k=3_t=1_r=1' 'k=8_t=1_r=1' 'k=16_t=1_r=3' 'k=17_t=1_r=1'
 'k=8_t=11_r=2' 'k=7_t=11_r=3' 'k=11_t=1_r=3' 'k=0_t=1_r=3' 'k=7_t=11_r=2'
 'k=7_t=11_r=1' 'k=11_t=1_r=1' 'k=0_t=11_r=1' 'k=9_t=1_r=3' 'k=18_t=1_r=1'
 'k=15_t=1_r=1' 'k=2_t=1_r=4' 'k=17_t=1_r=2' 'k=12_t=1_r=2' 'k=18_t=1_r=4'
 'k=6_t=1_r=1' 'k=19_t=1_r=2' 'k=10_t=1_r=1' 'k=14_t=1_r=3' 'k=17_t=1_r=3'
 'k=15_t=1_r=2' 'k=16_t=11_r=1' 'k=16_t=11_r=2' 'k=0_t=1_r=4'
 'k=3_t=1_r=3' 'k=1_t=1_r=3' 'k=3_t=1_r=2' 'k=13_t=11_r=2' 'k=13_t=1_r=3'
 'k=7_t=11_r=4' 'k=13_t=1_r=4' 'k=14_t=1_r=1' 'k=18_t=11_r=1'
 'k=2_t=11_r=2' 'k=6_t=11_r=3' 'k=19_t=1_r=3' 'k=5_t=11_r=3'
 'k=5_t=11_r=2' 'k=17_t=1_r=4' 'k=17_t=11_r=3' 'k=16_t=11_r=3'
 'k=18_t=11_r=3' 'k=11_t=1_r=4' 'k=2_t=11_r=4' 'k=8_t=11_r=3'
 'k=13_t=11_r=3' 'k=11_t=11_r=4' 'k=18_t=11_r=2' 'k=13_t=11_r=4'
 'k=1_t=1_r=4' 'k=15_t=1_r=4' 'k=17_t=11_r=4' 'k=14_t=1_r=4'
 'k=12_t=11_r=4' 'k=4_t=1_r=4' 'k=6_t=1_r=4' 'k=19_t=1_r=4' 'k=10_t=1_r=4'
 'k=3_t=1_r=4' 'k=7_t=1_r=4' 'k=12_t=1_r=4' 'k=14_t=11_r=4' 'k=3_t=11_r=4'
 'k=16_t=11_r=4' 'k=10_t=11_r=4' 'k=14_t=11_r=3' 'k=0_t=11_r=4'
 'k=1_t=11_r=4' 'k=5_t=11_r=4' 'k=8_t=11_r=4' 'k=6_t=11_r=4'
 'k=4_t=11_r=4' 'k=18_t=11_r=4' 'k=19_t=11_r=4' 'k=15_t=11_r=4']

160

In [10]:
def del_field(df):
    df.drop('claster', axis=1, inplace=True)
    df.drop('object_type', axis=1, inplace=True)
    df.drop('rooms', axis=1, inplace=True)
    return df

In [11]:
data = del_field(data.copy())

In [12]:
data.head()

    timestamp    target       segment
0  2018-03-04   4704280  k=3_t=11_r=1
1  2018-03-17   8000000   k=4_t=1_r=2
2  2018-04-03  11500000   k=6_t=1_r=3
3  2018-04-07  10200000   k=8_t=1_r=2
4  2018-04-18  11500000  k=16_t=1_r=1

In [13]:
data.isnull().sum()

timestamp    0
target       0
segment      0
dtype: int64

In [14]:
data.to_csv(r'{0}.csv'.format('../data/processed/msk_segment_days'))